<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Reservación de salones 
      
    </ion-title>
    <ion-grid>
      <ion-row>
        <ion-datetime-button datetime="datetime"></ion-datetime-button>
  
        <ion-modal [keepContentsMounted]="true">
          <ng-template>
            <ion-datetime presentation="date" id="datetime" [showDefaultButtons]="true" [(ngModel)]="FechaSeleccionada" (ionChange)="IdentificarEstado()"></ion-datetime>
  
          </ng-template>
        </ion-modal>
      </ion-row>
      <ion-row>
        <ion-list>
          <ion-item>
            <ion-select placeholder="Seleccione Hora" id="selectHora" [(ngModel)]="HoraBusqueda" (ionChange)="IdentificarEstado()" interface="action-sheet">
              <ion-select-option value=7>07:00 HRS.</ion-select-option>
              <ion-select-option value=8>08:00 HRS.</ion-select-option>
              <ion-select-option value=9>09:00 HRS.</ion-select-option>
              <ion-select-option value=10>10:00 HRS.</ion-select-option>
              <ion-select-option value=11>11:00 HRS.</ion-select-option>
              <ion-select-option value=12>12:00 HRS.</ion-select-option>
              <ion-select-option value=13>13:00 HRS.</ion-select-option>
              <ion-select-option value=14>14:00 HRS.</ion-select-option>
              <ion-select-option value=15>15:00 HRS.</ion-select-option>
              <ion-select-option value=16>16:00 HRS.</ion-select-option>
              <ion-select-option value=17>17:00 HRS.</ion-select-option>
              <ion-select-option value=18>18:00 HRS.</ion-select-option>
              <ion-select-option value=19>19:00 HRS.</ion-select-option>
              <ion-select-option value=20>20:00 HRS.</ion-select-option>
              <ion-select-option value=21>21:00 HRS.</ion-select-option>
              <ion-select-option value=22>22:00 HRS.</ion-select-option>
              <ion-select-option value=23>23:00 HRS.</ion-select-option>
            </ion-select>
          </ion-item>
        </ion-list>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
  
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid *ngIf="reservaciones.length>0">
    
    <ion-row *ngFor="let reservacion of reservaciones; let i = index">

      <ion-col>
        <ion-card>
          <ion-card-header>
           <ion-icon  *ngIf="reservacion.Estado==1" name="close-circle-outline" id="icon" title="Eliminar" (click)="Eliminar(i)"></ion-icon>
            <ion-card-title>{{reservacion.salon.nombre}}</ion-card-title>
           
            <ion-card-subtitle>{{reservacion.salon.ubicacion}}</ion-card-subtitle>
          </ion-card-header>
  
          <ion-card-content>
            <ion-list>
              <ion-item>
                <ion-label>
                  <h2>Estado</h2>
                  <p>{{reservacion.Estado==1?"Ocupado":"Libre"}}</p>
                </ion-label>
  
              </ion-item>
              <ion-item *ngIf="reservacion.Estado==1">
                <ion-label>
                  <h2>Reservó</h2>
                  <p>{{reservacion.info.persona}}</p>
                </ion-label>
  
  
              </ion-item>
  
  
              <ion-item *ngIf="reservacion.Estado==1">
                <ion-label>
                  <h2>Grupo</h2>
                  <p>{{reservacion.info.grupo}}</p>
                </ion-label>
              </ion-item>
              <ion-item *ngIf="reservacion.Estado==1">
                <ion-label>
                  <h2>Duración</h2>
                  <p>{{reservacion.info.horaI}}:00HRS - {{reservacion.info.horaF}}:00HRS</p>
                </ion-label>
              </ion-item>
            </ion-list>
          </ion-card-content>
        </ion-card>
      </ion-col>
      
     
      





      
    </ion-row>



  </ion-grid>







</ion-content>