ion-row{
    width: 100%;
    ion-list{
        width: 100%;
    }
    ion-datetime-button{
        width: 100%;
    }
    ion-datetime{
        width: 100%;
    }
   
}
#icon{
    font-size: 30px;
    padding-left:95%;
}