<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Modificaciones
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" id="content">


  <ion-card>
    <ion-card-header>
      <ion-card-title>Agregar Salón</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <ion-item id="content">
        <ion-label>Nombre del salón</ion-label>
        <ion-input [(ngModel)]="nombre"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Ubicación</ion-label>
        <ion-input [(ngModel)]="ubicacion"></ion-input>
      </ion-item>
      <ion-button expand="block" (click)="AgregarSalon()">Agregar</ion-button>
    </ion-card-content>
  </ion-card>



</ion-content>